footer.footer
    p
        | 1. Инструкция по применению лекарственного препарата Д-Пантенол крем (РН:ЛС-1002501)
        br
        | 2. Инструкция по применению лекарственного препарата Д-Пантенол мазь (РН:ЛС-1002502)
    p
        | Сообщить о нежелательном явлении или ненадлежащем качестве лекарственного препарата можно перейдя по 
        a(href="#" targer="_blank") ссылке.
        br
        | Компания, принимающая претензии потребителей: ООО «ЭГИС-РУС» 121108, г. Москва, ул. Ивана Франко, д. 8.
        br
        | Тел: (495) 363-39-66, Факс:+7 (495) 789-66-31. E-mail: moscow@egis.ru, www.egis.ru