head
    meta(charset="UTF-8")
    title Д-Пантенол
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //- realfavicongenerator.net
    link(rel="stylesheet", href="./css/app.css")