header.head
    h1 Д-Пантенол
    .head_descr
        | Эксперт в заживлении поврежденной кожи
    .head_kv
        img(src="./img/kv.png", alt="Д-Пантенол")
    h2.head_slogan
        | Один ответ на все проблемы