section.map
    .map_content
        h3.map_header
            | Где купить?
        ul.menu.vertical.map_list
            li.map_item
                img(src="./img/map/eapteka.svg", alt="Еаптека")
            li.map_item
                img(src="./img/map/piluli.png", alt="Piluli.ru")
            li.map_item
                img(src="./img/map/apteka.png", alt="apteka.ru")
        button.button.secondary
            | Полный список
    .map_container
        iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d8970.438490420556!2d37.55981769654839!3d55.80001625008271!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1518839981478', frameborder='0')
