nav.left_menu
    ul.menu.vertical
        li.logo
            a(href="/")
                img(src="./img/logo.svg", alt="EGIS")
        li
            a(href="#")
                img(src="./img/menu/family.svg", alt="")
                span Дети и семья
        li 
            a(href="#")
                img(src="./img/menu/care.svg", alt="")
                span Косметический уход
        li 
            a(href="#")
                img(src="./img/menu/damage.svg", alt="")
                span Кожные повреждения
        li 
            a(href="#")
                img(src="./img/menu/burn.svg", alt="")
                span Ожоги
        li 
            a(href="#")
                img(src="./img/menu/tattoo.svg", alt="")
                span Татуировки
        li 
            a(href="#")
                img(src="./img/menu/leisure.svg", alt="")
                span Активный отдых
















