mixin banner(direction, header, descr, button, url, img)
    .slider_part(class="slider_part--" + direction)
        .slider_content
            h3.slider_header
                !=header
            p.slider_descr
                =descr
            a.button(href="./" + url + ".html")
                =button
        .slider_img
            img(src="./img/slider/" + img + ".jpg", alt=header)
section.slider
    block slider
        .owl-carousel.slider_inner
            .slider_item
                +banner('right', 'Семья<br>и материнство', 'Новорожденные — самые нежные цветы жизни. С легкостью избегаем недетских проблем с детской кожей и показываем малышу любовь через прикосновения!', 'Забота о коже малыша', 'family_care', 'family')
                +banner('left', 'Косметический<br>уход за собой', 'Макияж макияжу рознь! Чтобы тон ложился ровно, а крема только подчеркивали естественное сияние, ухаживай за своей кожей до и после нанесения макияжа.', 'Шаги к идеальной коже', 'care_mother', 'care')
            .slider_item
                +banner('right', 'Семья<br>и материнство', 'Новорожденные — самые нежные цветы жизни. С легкостью избегаем недетских проблем с детской кожей и показываем малышу любовь через прикосновения!', 'Забота о коже малыша', 'family_care', 'family')
                +banner('left', 'Косметический<br>уход за собой', 'Макияж макияжу рознь! Чтобы тон ложился ровно, а крема только подчеркивали естественное сияние, ухаживай за своей кожей до и после нанесения макияжа.', 'Шаги к идеальной коже', 'care_mother', 'care')