section.slider
    .owl-carousel.slider_inner
        .slider_item
            .slider_part.slider_part--top
                .slider_content
                    h3.slider_header
                        | Семья
                        br
                        | и материнство
                    p.slider_descr
                        | Новорожденные — самые нежные цветы жизни. С легкостью избегаем недетских проблем с детской кожей и показываем малышу любовь через прикосновения!
                    a.button(href="#")
                        | Забота о коже малыша
                .slider_img
                    img(src="./img/slider/family.jpg", alt="Семья и материнство")
            .slider_part.slider_part--bottom
                .slider_content
                    h3.slider_header
                        | Косметический
                        br
                        | уход за собой
                    p.slider_descr
                        | Макияж макияжу рознь! Чтобы тон ложился ровно, а крема только подчеркивали естественное сияние, ухаживай за своей кожей до и после нанесения макияжа.
                    a.button(href="#")
                        | Шаги к идеальной коже
                .slider_img
                    img(src="./img/slider/care.jpg", alt="Косметический уход за собой")
        .slider_item
            .slider_part.slider_part--top
                .slider_content
                    h3.slider_header
                        | Семья
                        br
                        | и материнство
                    p.slider_descr
                        | Новорожденные — самые нежные цветы жизни. С легкостью избегаем недетских проблем с детской кожей и показываем малышу любовь через прикосновения!
                    a.button(href="#")
                        | Забота о коже малыша
                .slider_img
                    img(src="./img/slider/family.jpg", alt="Семья и материнство")
            .slider_part.slider_part--bottom
                .slider_content
                    h3.slider_header
                        | Косметический
                        br
                        | уход за собой
                    p.slider_descr
                        | Макияж макияжу рознь! Чтобы тон ложился ровно, а крема только подчеркивали естественное сияние, ухаживай за своей кожей до и после нанесения макияжа.
                    a.button(href="#")
                        | Шаги к идеальной коже
                .slider_img
                    img(src="./img/slider/care.jpg", alt="Косметический уход за собой")