extends layout
block vars
    - var page = 'family'
block slider
    +banner('right', 'Семья<br>и материнство', 'Новорожденные — самые нежные цветы жизни. С легкостью избегаем недетских проблем с детской кожей и показываем малышу любовь через прикосновения!', 'Забота о коже малыша', 'family_care', 'family')