.slider{
    width: 100%;
    &_item{
        width: 100%;
    }
    &_part{
        height: 480px;
        display: flex;
        &--right{
            flex-direction: row-reverse;
        }
        &--left{
            .slider{
                &_img{
                    margin: 0 0 0 -28px;
                    &::before{
                        right: auto;
                        left: 0;
                        border-color: $secondary-color;
                        border-right-color: transparent;
                        border-bottom-color: transparent;
                        box-shadow: -92px -120px 0 92px $secondary-color;
                    }
                    &::after{
                        right: auto;
                        left: 0;
                        border-color: $secondary-color;
                        border-right-color: transparent;
                        border-top-color: transparent;
                        box-shadow: -92px 120px 0 92px $secondary-color;
                    }
                }
                &_content{
                    background: $secondary-color;
                }
            }
        }
    }
    &_img{
        flex: 1 0 auto;
        position: relative;
        margin-right: -28px;
        overflow: hidden;
        z-index: 2;
        &::before{
            content: '';
            position: absolute;
            top: calc(50% - 28px);
            right: 0;
            border: 14px solid $blue-color;
            border-bottom-color: transparent;
            border-left-color: transparent;
            box-shadow: 92px -120px 0 92px $blue-color;
        }
        &::after{
            @extend .slider_img::before;
            top: auto;
            bottom: calc(50% - 28px);
            border-bottom-color: $blue-color;
            border-top-color: transparent;
            box-shadow: 92px 120px 0 92px $blue-color;
        }
        img{
            height: 100%;
            position: relative;
            z-index: -1;
        }
    }
    &_header{
        margin-bottom: 30px;
    }
    &_content{
        flex: 1 1 100%;
        background: $blue-color;
        padding: 50px 86px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    &_descr{
        color: $white;
        font-size: 18px;
        text-align: justify;
    }
    .button{
        margin-top: auto;
    }
}