// @font-face {
//     font-family: 'Myriad Pro';
//     src: url('../fonts/MyriadPro/MyriadPro-LightCond.woff2') format('woff2');
//     font-weight: 300;
//     font-style: normal;
// }

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro/MyriadPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro/MyriadPro-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro/MyriadPro-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

// @font-face {
//     font-family: 'Myriad Pro';
//     src: url('../fonts/MyriadPro/MyriadPro-Black.woff2') format('woff2');
//     font-weight: 900;
//     font-style: normal;
// }

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: $secondary-color;
    border-radius: 5px;
}

html, body{
    -webkit-overflow-scrolling: touch
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea,
select {
    outline: none;
}

.wrap {
    overflow: hidden;
    min-width: 960px;
}
.button{
    box-shadow: inset 0 -20px 60px -30px $black;
    min-width: 278px;
    outline: none;
    border: 0;
    font-weight: 600;
    &:active{
        box-shadow: inset 0 20px 60px -30px $black;
    }
}