.map{
    position: relative;
    &_inner{
        position: relative;
    }
    &_content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 65px 75px;
        z-index: 2;
        background-color: $white;
        @include breakpoint(small down) {
            padding: 30px;
            height: auto;
        }
    }
    &_header{
        color: $primary-color;
        margin-bottom: 40px;
        @include breakpoint(small down) {
            margin-bottom: 20px;
        }
    }
    &_list{
        margin-left: -16px;
    }
    &_item{
        img{
            height: 35px;
        }
    }
    &_container{
        position: absolute;
        width: 100%;
        height: 100%;
        iframe{
            width: 100%;
            height: 100%;
        }
    }
}