.nav{
    width: 100%;
    overflow: hidden;
    max-width: 1920px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    @include breakpoint(large) {
        &.is_fixed{
            .nav{
                &_item.nav_item {
                    height: 100px;
                    padding-top: 10px;
                }
                &_img{
                    height: 40px;
                }
                &_title{
                    margin-top: 10px;
                    font-size: 16px;
                }
            }
        }
    }
    @include breakpoint(small down) {
        display: none;
    }
    .menu{
        flex-wrap: nowrap;
    }
    li{
        flex: 1 1 100%;
        box-shadow: -6px 1px 8px rgba(0, 0, 0, 0.11);
        background-color: $secondary-color;
    }
    &_item.nav_item{
        display: flex;
        flex-direction: column;
        height: 210px;
        text-align: center;
        // color: $white;
        opacity: 0.6;
        transition: 300ms;
        padding: 30px 0 0;
        @include breakpoint(medium only){
            height: 100px;
            padding-top: 10px;
        }
        &:hover, &.active{
            color: $white; 
            opacity: 1;
        }
        &.active {
            font-weight: 700;
            background-color: $primary-color;
        }
    }
    &_img{
        height: 84px;
        transition: 300ms;
        @include breakpoint(medium only) {
            height: 40px;
        }
        img{
            height: 100%;
        }
    }
    &_title{
        font-size: 19px;
        line-height: 1.2;
        color: $white;
        margin-top: 28px;
        transition: 300ms;
        @include breakpoint(medium only) {
            margin-top: 10px;
            font-size: 14px;
        }
    }

    &_mobile{
        padding: 30px 32px;
        .nav{
            &_item{
                flex-direction: row;
                align-items: center;
                height: auto;
                padding: 0;
                margin-top: 20px;
                &.active{
                    background: none;
                }
            }
            &_img{
                height: 30px;
                flex: 0 0 30px;
            }
            &_title{
                margin: 0 0 0 20px;
                text-align: left;
            }
        }
        .close-button{
            transition: 300ms;
            outline: none;
        }
    }
}

.hamb{
    @include hamburger($primary-color, $primary-color, 20px, 14px, 2px, 3);
    position: fixed;
    top: 28px;
    right: 24px;
    z-index: 3;
    outline: none;
    background: $white;
    box-shadow: 0 0 0 6px $white;
    border-radius: 50%;
    height: 20px;
    &::after{
        top: 3px;
    }
    @include breakpoint(medium) {
        display: none;
    }
}