section#action.buy(data-magellan-target="action")
    .row.buy_inner
        .column.large-6.small-12
            .buy_kv
                img(src="./img/kv.png", alt="Д-Пантенол")
        .column.shrink
            .buy_action
                h3.buy_action_header
                    | Акция!
                .buy_action_content
                    | Покупай Д-Пантенол в форме крема или мази и получай подарок за каждую покупку!
            a.buy_terms(href="./terms.pdf"  target="_blank")
                | Полные правила Акции
    a.button.hollow(href="./pharmacy_list.pdf" target="_blank")
        | Где купить