nav.nav
    ul.menu(data-magellan data-active-class="active")
        li
            a.nav_item(href="#family")
                span.nav_img
                    img(src="./img/menu/family.png", alt="Дети и семья")
                span.nav_title
                    | Дети и семья
        li
            a.nav_item(href="#care")
                span.nav_img
                    img(src="./img/menu/care.png", alt="Косметический уход")
                span.nav_title
                    | Косметический уход
        //- li
            span.nav_item
                span.nav_img
                    img(src="./img/menu/damage.png", alt="Кожные повреждения")
                span.nav_title
                    | Кожные повреждения
        li 
            a.nav_item(href="#burn")
                span.nav_img
                    img(src="./img/menu/burn.png", alt="Ожоги")
                span.nav_title
                    | Ожоги
        li 
            a.nav_item(href="#tattoo")
                span.nav_img
                    img(src="./img/menu/tattoo.png", alt="Татуировки")
                span.nav_title
                    | Татуировки
        li 
            a.nav_item(href="#leisure")
                span.nav_img
                    img(src="./img/menu/leisure.png", alt="Активный отдых")
                span.nav_title
                    | Активный
                    br
                    | отдых
        li
            a.nav_item(href="#buy")
                span.nav_img
                    img(src="./img/menu/where.svg", alt="Где купить")
                span.nav_title
                    | Где купить