section#buy.map(data-magellan-target="buy")
    .row.map_inner
        .map_content
            h2.map_header
                | Где купить?
            ul.menu.map_list
                li.map_item
                    a(href="https://apteka.ru/search/?q=%D0%B4-%D0%BF%D0%B0%D0%BD%D1%82%D0%B5%D0%BD%D0%BE%D0%BB&order=products%2Cmaterials&vendor=&shop=" target="_blank")
                        img(src="./img/map/apteka.png", alt="apteka.ru")
                li.map_item
                    a(href="https://www.eapteka.ru/search/?q=%D0%94-%D0%BF%D0%B0%D0%BD%D1%82%D0%B5%D0%BD%D0%BE%D0%BB" target="_blank")
                        img(src="./img/map/eapteka.svg", alt="Еаптека")
                li.map_item
                    a(href="https://www.piluli.ru/search_result.html?searchback=%E4-%EF%E0%ED%F2%E5%ED%EE%EB&search=%E4-%EF%E0%ED%F2%E5%ED%EE%EB" target="_blank")
                        img(src="./img/map/piluli.png", alt="Piluli.ru")
    //- .map_container
        iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d8970.438490420556!2d37.55981769654839!3d55.80001625008271!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1518839981478', frameborder='0')
