section.video(data-magellan-target="video")
    .row
        .video_inner
            .responsive-embed
                iframe(width='560', height='280', src='https://www.youtube.com/embed/JeCE8kgbjuE?rel=0&controls=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
